extraccion con n8n machas.json
{
  "name": "busqueda ventas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "acda51da-dd2c-4483-8dad-32a5581ff341",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "google_maps",
        "q": "bandejas de machas santiago chile",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "0107c05d-af6c-4d8a-961e-12d43d7b6452",
      "name": "Google_maps search",
      "credentials": {
        "serpApi": {
          "id": "6aW2bRNfOUl2Z2Ve",
          "name": "SerpApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "local_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "7058364c-d6a3-47c1-b828-5176d2a29177",
      "name": "Split Out",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "7da9de55-b820-4783-a723-ce962ee66af1",
      "name": "Remove Duplicates",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "links_por_procesar",
          "mode": "list",
          "cachedResultName": "links_por_procesar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "procesado": false,
            "tienda_nombre": "={{ $json.title }}",
            "telefono": "={{ $json.phone }}",
            "url": "={{ $json.website }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tienda_nombre",
              "displayName": "tienda_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procesado",
              "displayName": "procesado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_descubrimiento",
              "displayName": "fecha_descubrimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "0f4d13cb-f316-4f62-b276-2f436bc8ef9f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "wzvbM0u1PFTyEtx0",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google_maps search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_maps search": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "721eaf4d-046e-4822-861f-f717734710e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2d25ba97a05045c171fcf8c3c4a9c1b801267ced07d8b9f161a5f8c915db4a4"
  },
  "id": "PM-5QBMNh48Z7xilj4rmX",
  "tags": []
}